{% extends "auctions/layout.html" %}

{% block body %}
    <fieldset>
        <legend>Create listing</legend>
        <form action="{% url 'create_listing' %}" method="post" enctype="multipart/form-data">
            <div class="form-creation">
                {% csrf_token %}
                <label>name:</label>
                <input type="text" name="title" placeholder="Name...">
                <label>description:</label>
                <textarea placeholder="Description..." name="des"></textarea>
                {{ cat }}
                <label>bid:</label>
                <input name='bid' type="number">
                <input type="file" name="img">
                <input type="submit" name="create" value="create" class="btn btn-secondary s">
        </form>
    </fieldset>
{% endblock %}